@{
    List<Book> books = ViewBag.Books;
    for(int i = 0; i < books.Count; i ++)
    {
        string a = $"https://localhost:5001/Admin/EditBook/books[i].SerNumb";
        <div style="width: 200px; height: 200px; border: 1px solid black; float: left;">
            <p>Название: @books[i].Title</p>
            <p>Автор: @books[i].Author</p>
            <p>Дата издания: @books[i].DataIzdaniya</p>
            <p>Жанры: @books[i].Genre</p>
            <a href="@a">Изменить</a>
        </div>
    }
}
