@{
    User user = ViewBag.User;
}
<form action="/User/Settings" method="POST">
    <div class="row col-md-2">
        <label for="FN">Имя</label><br>
        <input type="text" class="form-control input-group" name="FirstName" id="Fn" required value="@user.FirstName">
    </div>
    <br>
    <div class="row col-md-2">
        <label for="LN">Фамилия</label><br>
        <input type="text" class="form-control input-group" name="LastName" id="LN" required value="@user.LastName">
    </div>
    <br>
    <div class="row col-md-2">
        <label for="L">Логин</label><br>
        <input type="text" class="form-control input-group" name="Login" id="L" required value="@user.Login">
        @if(ViewBag.Error != null){
            <p><small>@ViewBag.Error</small></p>
        }
    </div>
    <br>
    <div class="row col-md-2">
        <label for="P">Пароль</label><br>
        <input type="password" class="form-control input-group" name="Password" id="P" required value="@user.Password">
    </div>
    <br>
    <div class="row col-md-2">
        <label for="PN">Номер</label><br>
        <input type="number" class="form-control input-group" maxlength="9" name="PhoneNumber" id="PN" required value="@user.PhoneNumber">
    </div>
    <br>
    <input type="submit" value="Изменить данные" class="btn btn-secondary text-dark">
    <a asp-controller="User" asp-action="DeleteUser" class="btn btn-secondary text-dark ml-2">Удалить аккаунт</a>
</form>