@{
    Book book = ViewBag.Book;
    User user = ViewBag.BookUser;
    Rent rent = ViewBag.Rent;
    List<Comment> comments = ViewBag.Comments;
    List<Book> books = ViewBag.Books;
    List<User> users = ViewBag.Users;
    string a = $"https://localhost:5001"+book.ImgPath;
}
<form action="/NoSingIn/Book" method="POST">
    <div class="row mt-2 ml-1">
        <label for="sern">Серийный номер: </label>
        <select id="sern" class="form-control ml-1 mr-5 input-group col-md-2" name="SerNumb">
        @foreach (var item in books)
        {
            if(item.SerNumber == book.SerNumber)
            {
                <option selected value="@item.SerNumber">@item.SerNumber</option>
            }
            else
            {   
                <option value="@item.SerNumber">@item.SerNumber</option>
            }
        }
        </select>
        <input type="submit" class="btn btn-secondary text-dark" value="Перейти к книге">
    </div>
</form>
<div class="container">
<section class="mb-4 mt-2">
    <img width="330px" class="mr-5" style="float: left; border-radius: 5px;" src="@a" alt="">
    <h3>Название: @book.Title</h1>                  
    <h4>Автор: @book.Author</h2>
    <h4>Жанры: @book.Genre</h4>
    <h5>Год издания: @book.PublishingYear</h3>
    <p style="font-weight: 600;">Описание: @book.Description</p>
    @if(book.State == "Free"){
        <p style="font-weight: 500;">Для подачи заявки на приобретение книги, выполните вход</p>
    }
    else
    {
        <p style="font-weight: 500;">Нынешний владелец: @user.FirstName @user.LastName</p>
        <p style="font-weight: 500;">Телефон: +992-@user.PhoneNumber</p>
        <p style="font-weight: 500;">Дата приобретения: @rent.TakenDate.ToString().Substring(0,10)</p>
    }
    <h3></h3>
</section>
</div>
<br><br><br><br><br><br><br><br><br>
@{
    @if(comments != null)
    {
        <h4>Отзывы</h4>
        <table class="mb-4 table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>Отзыв</td>
                    <td>Дата</td>
                    <td>Пользователь</td>
                </tr>
            </thead>
            @if(comments.Count > 0)
            {
                <tbody>
                    @foreach (var item in comments)
                    {
                        <tr>
                            <td>@item.CommentText</td>
                            <td>@item.CommentDate.ToString().Substring(0,10)</td>
                            <td>@users.Where(p =>p.Id == item.UserId).FirstOrDefault().FirstName</td>
                        </tr>
                    }
                </tbody>
            }
            else
            {
                <tbody>
                    <tr>
                        <td class="text-center" colspan="3">Отзывов нет</td>
                    </tr>
                </tbody>
            }
        </table>
    }
}